# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool
*.out

# Vendor folder (if used)
vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# Ignore TLS certs and keys
certs/
*.crt
*.key
